body{
    margin: 0;
    padding: 0 auto;
    height: 100vh;
    width: 100%;
    font-family: poppins;
    box-sizing: border-box;
}
p{
    padding: 0;
    margin: 0;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.controls{
    align-self: flex-end;
    height: 8em;
    width: 100%;
    background-color: grey;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.control{
    height: 3em;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
    cursor: pointer;
}

.range{
    width: 100%;
    box-sizing: border-box;
    padding-left: 2em;
    padding-right: 2em;
    transition: 1s ease-out;
    display: flex;
    justify-content: space-between;
}
#audioRange{
    width: 92%;
    cursor: pointer;
}

#forward{

}