body{
    margin: 0;
    padding: 0 auto;
    height: 100vh;
    width: 100%;
    font-family: poppins;
    box-sizing: border-box;
}
p, h3{
    padding: 0;
    margin: 0;
}

main{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    box-sizing: border-box;
}

.playlistContainer{
    width: 100%;
    height: 15em;
    margin-top: 1em;
    padding-left: 1em;
    box-sizing: border-box;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playlist{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.playlistButtons{
    height: 6em;
    width: 6em;
    border-radius: 1em;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: white;
    background-size: cover;
}


.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    padding: 2em;
    box-sizing: border-box;
}

#audioImage{
    height: 20em;
    max-width: 100%;
    border-radius: 1em;
}

#title{
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
}

.controls{
    height: 20%;
    width: 100%;
    background-color: grey;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 4em; */
}

.control{
    height: 2.5em;
    margin-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    cursor: pointer;
}

.range{
    width: 100%;
    box-sizing: border-box;
    padding-left: 2em;
    padding-right: 2em;
    transition: 1s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#audioRange{
    width: 100%;
    cursor: pointer;
}

.durationStatus{
    display: flex;
    justify-content: space-between;
    color: white;
}

/* Creating PlayList UI */
#newPlayListContainer{
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    padding: 1em;
}

.newPlaylist{
    background-color: white;
    height: 25em;
    width: 30em;
    display: flex;
    flex-direction: column;
    padding: 2em;
    border-radius: 1em;
    align-items: center;
}

h3{
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 3px;
    margin-bottom: 1.5em;
    text-align: center;
    border-bottom: 2px solid black;
    width: 100%;
}

.form{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;
}

.inputItems{
    display: flex;
    flex-direction: column;
}

.inputItems label{
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 0.5em;
}

#playlistName{
    height: 3em;
    border-radius: 1em;
    border: 2px solid grey;
    box-sizing: border-box;
    padding-left: 2em;
    font-size: 1em;
}

#playlistName:focus{
    outline: none;
}

small{
    color: red;
    display: none;
}

.playListControlButtons {
    margin-top: 4em;
}

.playListControlButtons button{
    height: 4em;
    width: 10em;
    border-radius: 1em;  
    border: none;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    color: white;
    background-color: black;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 1s ease-out;
}

.playListControlButtons button:focus{
    outline: none;
    background-color: transparent;
    color: black;
}

.playListControlButtons button:hover{
    background-color: transparent;
    color: black;
}

#savePlaylist{
    margin-right: 0.5em;
}


/* Storing Playlist Songs */
#SelectSongsContainer{
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    padding: 1em;
}

.playlistSongsContainer{
    background-color: white;
    height: 25em;
    width: 30em;
    display: flex;
    flex-direction: column;
    padding: 2em;
    border-radius: 1em;
    /* align-items: center;  */
}

#selectedPlaylistTitle{
    margin-bottom: 1em;
}
.songsContainer{
    display: flex;
    flex-direction: column;
}

.songs{
    display: flex;
    height: 2.5em;
    width: 100%;
    border-bottom: 1px solid black;
    align-items: center;
}

.radioButton{
    height: 0.8em;
    width: 0.8em;
    border-radius: 50%;
    border: 1px solid black;
    margin-right: 1em;
}